:root{
    --background_color: #161616;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif; 
    font-weight: lighter;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background_color);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.navbar{
    background: #131313;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__blackbar{
    display: none;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 2;        
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-image: linear-gradient(to top, #c06a24 0%, #FFFEB9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    z-index: 1;
}

.icon{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
    z-index: 2;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
    font-size: large;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100%;
    width: 100%;
    font-size: large;
    z-index: 2;
}

.button{
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #c2b280;
    color:white;
}

.button:hover{
    background: #c06a24;
    transform: scale(1.025);
    transition: 0.1s ease-out;
}

.navbar__links:hover{
    color: #c06a24;
    transition: all 0.3sec ease;
}

.logo{
    height: auto;
    width: 88px;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0;

        z-index: 1;
        width: 1300px;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        min-height: 437px;
        z-index: -1;
        /*background: #131313;*/
    }

    .navbar__menu.active{
        /* background: #151515; */
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        font-size: 1.6rem;
    }

    .navbar__blackbar{
        display:block;
        position: absolute;
        width: 100%;
        height: 100%;       /* if Want to adjust this go to .navbar to adjust*/
        background-color:#131313;
        z-index: 0;
    }

    .navbar__menu-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #131313;
        opacity: 0.95;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
        z-index: 2;
    }
    
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding:  2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 1rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 3rem;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero CSS */

#home{
    scroll-margin-top: 80px;
}

.main{
    background-color: var(--background_color);
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--background_color);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px;
}

.main__content h1{
    font-size: 4rem;
    font-weight: 700;
    background-color: #FFD700;
    background-image: linear-gradient(to top, #c06a24 0%, 	#FFFEB9 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 1.8rem;
    font-weight: bolder;
    background-color: #f2f7d4;
    background-image: linear-gradient(to top, #f16363 0%, #f2f7d4 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin: 0rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    background-color: rgb(151, 142, 142);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f16363 0% ,#f19763 50% ,#FFFEB9 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
    outline: none;
    cursor: pointer;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f16363;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: white;
}

.main__btn:hover:after{
    width: 100%;
}

model-viewer{
    width: 25vw;
    height: 50vh;
    margin-left: 15%;
}

.model-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__model--container{
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    
    .main__content{
        text-align: left;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 4rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 630px){
    model-viewer {
        visibility: hidden;
      }
}

@media screen and (max-width: 480px) {
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .main__content h1{
        font-size: 3rem;
    }

    .main__content p{
        font-size: 0.8rem;
    }
}


/* Projects Section */
#projects{
    scroll-margin-top: 80px;
}

.projects{
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh
}

.projects h1{
    background-color: #6a6272;
    background-image: linear-gradient(to right, 
    #6a6272 0%, 
    #c06a24 0%,
    #c4b533 18%,
    #f8f7a9 52%, 
    #c4b533 81%,  
    #c06a24 100%);
    background-size:  100%;
    margin-bottom: 5rem;
    font-size: 4rem;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.projects__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    max-width: 1600px;
}

.projects__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/Image-err.png');
    background-size: cover;
    position: relative;
    color: white;
    transition-delay: calc(mod(var(--card-num) + 2, 3) * 200ms);
}

@media screen and (max-width: 1295.98px) {
    .projects__card{
        transition-delay: calc(mod(var(--card-num) + 1, 2) * 200ms);
    }
}

@media screen and (max-width: 863.98px) {
    .projects__card{
        transition-delay: 200ms;
    }
}

.projects__card:nth-child(1){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/Greg\ Thunbnail4.png');
    --card-num: 1;
}

.projects__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/wdwgw Thunbnail2.png');
    --card-num: 2;
}

.projects__card:nth-child(3){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/Portfolio Thumbnail.png');
    --card-num: 3;
}

.projects__card:nth-child(4){
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/'); */
    --card-num: 4;
}

.projects__card:nth-child(5){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/Jonathan-Wong-s-FizzBuzz-Challenge.png');
    background-position: center;
    --card-num: 5;
}

.projects__card:nth-child(6){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.7) 100%), url('images/face-track.JPG');
    --card-num: 6;
}

.projects__text{
    top: 350px;
    left:30px;
    position: absolute;
}

.projects__card p{
    margin-bottom: 6%;
}

.projects__card button{
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #c2b280;
    font-size: 1rem;
    cursor: pointer;
}

.projects__card_afterShow:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.projects__card_afterShow:not(:hover) {
    transition: 0.2s ease-out;
}

.projects__card_afterShow button:hover{
    background: #c06a24;
    transform: scale(1.020);
    transition: 0.2s ease-out;
}

@media screen and (max-width: 480px) {
    .projects h1{
        font-size: 4rem;
    }

    .projects__card{
        width: 300px;
    }
}

/* Footers CSS */
.footer__container{
    background-color: var(--background_color);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
}

.footer__links--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__links--items h2{
    margin-bottom: 16px;
}

.footer__links--items > h2{
    color: white;
}

.footer__links--items a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__links--items a:hover{
    color: #c06a24;
    transition: 0.2s ease-out;
}

/* Social Icons */
.social__icon--link{
    color: #c2b280;
    font-size: 24px;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.social__icons :hover{
    color: #c06a24;
}

.social__logo{
    color: white;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights{
    color: white;
}

@media screen and (max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }

    .footer__links--items{
        margin-top: 15rem;
        padding: 10px;
        width: 100%;
    }

    #footer__logo{
        margin-bottom: 1.5rem;
    }

    .footer__links--wrapper{
        flex-direction: column;
    }
    
    .social__media--wrap{
        flex-direction: column;
    }
    
    .website__rights{
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 480px){
    .footer__links--items{
        margin-top: 15rem;
        padding: 10px;
        width: 100%;
    }
} 